@using  FangZhouShuMa.Web.Models.OrderViewModels

@model OrderViewModel

@{
    ViewData["Title"] = "订单明细";
}

<div class="esh-orders_detail">
    <div class="container">
        <section class="esh-orders_detail-section">
            <article class="esh-orders_detail-titles row">
                <section class="esh-orders_detail-title col-xs-3">订单号</section>
                <section class="esh-orders_detail-title col-xs-3">订单日期</section>
                <section class="esh-orders_detail-title col-xs-3">小计</section>
                <section class="esh-orders_detail-title col-xs-3">订单状态</section>
            </article>
            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-3">@Model.OrderNumber</section>
                <section class="esh-orders_detail-item col-xs-3">@Model.OrderDate</section>
                <section class="esh-orders_detail-item col-xs-3">$@Model.Total</section>
                <section class="esh-orders_detail-title col-xs-3">@Model.Status</section>
            </article>
        </section>
        @*<section class="esh-orders_detail-section">
                <article class="esh-orders_detail-titles row">
                    <section class="esh-orders_detail-title col-xs-12">Description</section>
                </article>

                <article class="esh-orders_detail-items row">
                    <section class="esh-orders_detail-item col-xs-12">@Model.Description</section>
                </article>
            </section>*@

        @for (int i = 0; i < Model.ShippingInfos.Count; i++)
        {
            var shippingAddress = Model.ShippingInfos[i];
            <section class="esh-orders_detail-section">
                <article class="esh-orders_detail-titles row">
                    <section class="esh-orders_detail-title col-xs-12">发货地址：</section>
                </article>
                <article class="esh-orders_detail-items row">
                    <section class="esh-orders_detail-item col-xs-12">@shippingAddress.StateName @Html.Raw(" ") @shippingAddress.City, </section>
                </article>
                <article class="esh-orders_detail-items row">
                    <section class="esh-orders_detail-item col-xs-12">@shippingAddress.Address</section>
                </article>

            </section>
        }
        <section class="esh-orders_detail-section">
            <article class="esh-orders_detail-titles row">
                <section class="esh-orders_detail-title col-xs-12">订单明细</section>
            </article>
            @for (int i = 0; i < Model.OrderItems.Count; i++)
            {
                var item = Model.OrderItems[i];
            <article class="esh-orders_detail-items esh-orders_detail-items--border row">
                <section class="esh-orders_detail-item esh-orders_detail-item--middle col-xs-2">@item.ProductName</section>

                <section class="esh-orders_detail-item col-md-8">
                    @for (int j = 0; j < item.OrderItemDetails.Count; j++)
                    {
                        var itemDetail = item.OrderItemDetails[j];
                        <div style="float:left;padding-left:15px;line-height:25px;">
                            <span style="font-weight:bold; display:inline-block;min-width:80px; padding-right: 5px;">@($"{itemDetail.ProductCustomFieldName}:") </span>
                            <span style="display:inline-block;min-width:80px;">@itemDetail.FieldDataDescription </span>
                        </div>
                    }

                </section>

                <section class="esh-orders_detail-item esh-orders_detail-item--middle col-xs-1">$ @item.UnitPrice.ToString("N2")</section>
                <section class="esh-orders_detail-item esh-orders_detail-item--middle col-xs-1">@item.Units</section>
                <section class="esh-orders_detail-item esh-orders_detail-item--middle col-xs-2">$ @Math.Round(item.Units * item.UnitPrice, 2).ToString("N2")</section>
            </article>
            }
        </section>
        <section class="esh-orders_detail-section esh-orders_detail-section--right">
            <article class="esh-orders_detail-titles esh-basket-titles--clean row">
                <section class="esh-orders_detail-title col-xs-9"></section>
                <section class="esh-orders_detail-title col-xs-2">总计:</section>
            </article>
            <article class="esh-orders_detail-items row">
                <section class="esh-orders_detail-item col-xs-9"></section>
                <section class="esh-orders_detail-item esh-orders_detail-item--mark col-xs-2">$ @Model.Total</section>
            </article>
        </section>
    </div>
</div>

